*.sln
**.sln

SquareEngine/.vs/
~/SquareEngine/.vs/
/SquareEngine/.vs/~
.vs/
.Intermediates/
**.vcxproj
*.vcxproj
**.vcxproj.filters
*.vcxproj.filters
**.vcxproj.user
*.vcxproj.user
**.obj
*.obj
**.lib
*.lib
**.exe
*.pdb
SquareEngine/Binaries/
~/SquareEngine/Binaries/