*.sln
**.sln

SquareEngine/.vs/
~/SquareEngine/.vs/
/SquareEngine/.vs/~
.vs/
.Intermediates/
**.vcxproj
*.vcxproj
**.vcxproj.filters
*.vcxproj.filters
**.vcxproj.user
*.vcxproj.user
**.obj
*.obj
**.lib
*.lib
**.exe
*.pdb
**.pch
*.pch
SquareEngine/Binaries/
~/SquareEngine/Binaries/
SquareEngine/Coral.Managed/Intermediates
SquareEngine/Coral.Managed/Binaries
SquareEngine/Coral.Managed/obj

SquareEngine/Coral.Native/Intermediates
SquareEngine/Coral.Native/Binaries
SquareEngine/Coral.Native/Build